<template>
    <div id="main">

        <MainHeader></MainHeader>

        <header id="header">
            <h1>
                <router-link :to="{name: 'home'}"></router-link>
            </h1>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'
    import Vuetify from 'vuetify'

    Vue.use(Vuetify)

    import MainHeader from './components/Header.vue';

    export default {
        name: 'index',
        components: {MainHeader},
        data() {
            return {
                //
            }
        },
    }
</script>