<template>
    <div>
        <div class="btn-wrapper">
            <router-link to="/courses/new" class="btn btn-primary btn-sm">New</router-link>
        </div>
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Sub Title</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tbody>
            <template v-if="courses && courses.length == 0">
                <tr>
                    <td colspan="4" class="text-center">No Course Available</td>
                </tr>
            </template>
            <template v-else>
                <tr v-for="course in courses" :key="course.id">
                    <td>{{ course.title }}</td>
                    <td>{{ course.sub_title }}</td>
                    <td>{{ course.description }}</td>
                    <td>
                        <router-link :to="`/courses/${course.id}`">View</router-link>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'list',
        mounted() {
            if (this.courses && this.courses.length) {
                return;
            }

            this.$store.dispatch('getCourses');
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            },
            courses() {
                return this.$store.getters.courses;
            }
        }
    }
</script>

<style scoped>
    .btn-wrapper {
        text-align: right;
        margin-bottom: 20px;
    }
</style>