<template>
    <div class="course-new">
        <form @submit.prevent="add">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <td>
                        <input type="text" class="form-control" v-model="course.title" placeholder="Course Title"/>
                        <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('title'))">{{ (errors.hasOwnProperty('title')) ? errors.title[0] :'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Sub Title</th>
                    <td>
                        <input type="text" class="form-control" v-model="course.sub_title" placeholder="Course Sub Title"/>
                        <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('sub_title'))">{{ (errors.hasOwnProperty('sub_title')) ? errors.sub_title[0] :'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>
                        <textarea class="form-control" v-model="course.description"></textarea>
                        <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('description'))">{{ (errors.hasOwnProperty('description')) ? errors.description[0] :'' }}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <router-link to="/courses" class="btn btn-info">Cancel</router-link>
                    </td>
                    <td class="text-right">
                        <input type="submit" value="Create" class="btn btn-success">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'new',
        data() {
            return {
                course: {
                    title: '',
                    sub_title: '',
                    description: '',
                },
                errors: {}
            };
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            add() {
                this.errors = {};
                axios.post('/courses', this.$data.course)
                    .then((response) => {
                        this.$router.push('/courses');
                    }).catch(error => {
                        if(error.response.status === 422){
                            this.errors = error.response.data.errors;
                        }
                    });

                this.$store.dispatch('getCourses');
            },
        }
    }
</script>

<style>
    .errors {
        background: lightcoral;
        border-radius:5px;
        padding: 21px 0 2px 0;
    }
</style>