<template>
    <div class="course-view" v-if="course">
        <div class="user-info">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td>{{ course.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ course.title }}</td>
                </tr>
                <tr>
                    <th>Sub Title</th>
                    <td>{{ course.sub_title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ course.description }}</td>
                </tr>

            </table>
            <router-link to="/courses">Back to all courses</router-link>
            <a @click="$router.go(-1)" class="btn btn-xs btn-info right">Go Back</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'course-view',
        created() {
            if (this.courses.length) {
                this.course = this.courses.find((course) => course.id == this.$route.params.id);
            } else {
                axios.get(`/courses/${this.$route.params.id}`)
                    .then((response) => {
                        this.course = response.data.course
                    });
            }
        },
        data() {
            return {
                course: null
            };
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
            courses() {
                return this.$store.getters.courses;
            }
        }
    }
</script>

<style scoped>
    .course-view {
        display: flex;
        align-items: center;
    }
    .user-img {
        flex: 1;
    }
    .user-img img {
        max-width: 160px;
    }
    .user-info {
        flex: 3;
        overflow-x: scroll;
    }
</style>