<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3 v-if="course">
            <v-card>
                <v-img
                        :src="course.placeholder_image"
                        aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{ course.title }}</h3>
                        <div> {{ course.sub_title }} </div>
                        <hr>
                        <div v-html="course.description"></div>
                    </div>

                </v-card-title>


                <v-expansion-panel>
                    <h3>Lessons</h3>
                    <v-expansion-panel-content
                            v-for="(item,i) in course.lessons"
                            :key="i"
                    >
                        <template v-slot:header>
                            <div>{{ item.title }}</div>
                        </template>
                        <v-card>
                            <v-card-text>{{ item.sub_title }}</v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>

                    <router-link to="/">
                        <v-btn block  color="primary" dark>
                        Home
                        </v-btn>
                    </router-link>


            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        name: 'course-view',
        data() {
            return {
                course: null
            };
        },
        created() {
            if (this.courses.length) {
                this.course = this.courses.find((course) => course.id == this.$route.params.id);
            } else {
                axios.get(`/frontend/course/${this.$route.params.id}`)
                    .then((response) => {
                        this.course = response.data.course
                    });
            }
        },
        computed: {
            courses() {
                return this.$store.getters.courses;
            }
        }
    }
</script>