<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
                        <div> {{ card_text }} </div>
                    </div>
                </v-card-title>

                <v-card-actions>
                    <v-btn flat color="orange">Share</v-btn>
                    <v-btn flat color="orange">Explore</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        name: 'course-view',
        created() {
            if (this.courses.length) {
                this.course = this.courses.find((course) => course.id == this.$route.params.id);
            } else {
                axios.get(`/courses/${this.$route.params.id}`)
                    .then((response) => {
                        this.course = response.data.course
                    });
            }
        },
        data() {
            return {
                course: null
            };
        },
        computed: {
            courses() {
                return this.$store.getters.courses;
            }
        }
    }
</script>