<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Dashboard</div>
            <div class="card-body">
                Dashboard
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            //
        }
    }
</script>