<template>
    <v-layout justify-center>
        <v-flex xs12 sm10 md10 lg10>
            <v-card>
                <v-container
                        fluid
                        grid-list-md
                >
                    <v-layout row wrap>
                        <v-flex
                                v-for="course in courses.data"
                                :key="course.title"
                                xs3
                        >
                            <v-card>
                                <v-img
                                        :src="course.placeholder_image"
                                        height="200px"
                                >
                                    <v-container
                                            fill-height
                                            fluid
                                            pa-2
                                    >
                                        <v-layout fill-height>
                                            <v-flex xs12 align-end flexbox>
                                                <span class="headline black--text" v-text="course.title"></span>
                                            </v-flex>
                                        </v-layout>

                                    </v-container>
                                </v-img>
                                <div>
                                    <span class="grey--text">{{ course.lessons.length }} Lessons </span><br>
                                    <p>{{ course.sub_title }}</p>
                                </div>
                                <v-card-actions>

                                    <v-btn block color="secondary" dark>
                                        <router-link :to="`/course/${course.id}`">View</router-link>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
                <pagination :resultData="courses" @clicked="index" :mid-size="9"></pagination>
            </v-card>

        </v-flex>
    </v-layout>
</template>
<script>
    import pagination from '../components/pagination'
    export default {
        name: 'home',
        components: {
            pagination
        },
        data: () => ({
            loading: false,
            pagination: {
                page: 1,
                rowsPerPage: 12,
            }
        }),
        methods:{
            index(page) {
                this.pagination.page = page;
                this.$store.dispatch('getUserCourses',this.pagination);
            }
        },
        mounted() {
            if (this.courses.length) {
                return;
            }

            this.index(this.page);
        },
        computed:{
            courses(){
                return this.$store.getters.userCourses;
            },
        },
        created(){

        }
    }
</script>