<template>
    <div class="container">
        <div class="card card-default">
            <div v-if="registeredUser" class="text-success">Thank you {{registeredUser.name}}.You can now login</div>
            <div class="card-header">Login</div>
            <div class="card-body">
                <div class="alert alert-danger" v-if="has_error">
                    <p>Something wrong happened! Please try again later</p>
                </div>
                <form autocomplete="off" @submit.prevent="authenticate" method="post">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="form.email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" v-model="form.password" required>
                    </div>
                    <button type="submit" class="btn btn-info">Login</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import {login} from '../helpers/auth';


    export default {
        data() {
            return {
                form: {
                    email: null,
                    password: null,
                },
                has_error: false
            }
        },
        mounted() {
            //
        },
        methods: {
            authenticate() {
                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({path: '/'});
                        this.$store.dispatch('login');
                    })
                    .catch((error) => {
                        this.$store.commit("loginFailed", {error});
                    });
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            },
            registeredUser(){
                return this.$store.getters.registeredUser
            }
        }
    }
</script>