<template>
    <div class="login row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form @submit.prevent="register">
                        <div class="form-group row" v-if="regError">
                            <p class="error">
                                {{regError}}
                            </p>
                        </div>
                        <div class="form-group row">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" v-model="formRegister.name" placeholder="Name">
                            <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('name'))">{{ (errors.hasOwnProperty('name')) ? errors.name[0] :'' }}</span>
                        </div>
                        <div class="form-group row">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" v-model="formRegister.email" placeholder="Email address">
                            <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('email'))">{{ (errors.hasOwnProperty('email')) ? errors.email[0] :'' }}</span>
                        </div>
                        <div class="form-group row">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" v-model="formRegister.password" placeholder="password">
                            <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('password'))">{{ (errors.hasOwnProperty('password')) ? errors.password[0] :'' }}</span>
                        </div>
                        <div class="form-group row">
                            <label for="password">Password Confirm</label>
                            <input type="password" class="form-control" v-model="formRegister.password_confirmation" placeholder="password">
                            <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('password_confirmation'))">{{ (errors.hasOwnProperty('password_confirmation')) ? errors.password_confirmation[0] :'' }}</span>
                        </div>
                        <div class="form-group row">
                            <input type="submit" value="Register" class="btn btn-outline-primary ml-auto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {registerUser} from '../helpers/auth';
    import validate from 'validate.js';

    export default {
        data(){
            return {
                formRegister: {
                    name: '',
                    email: '',
                    password: ''
                },
                errors: {}
            }
        },
        methods:{
            register(){
                this.errors = {};
                axios.post('/auth/register', this.$data.formRegister)
                    .then(response => {
                        this.$store.commit("registerSuccess", response);
                        this.$router.push({path: '/login'});
                    }).catch(error => {
                    if(error.response.status === 422){
                        this.errors = error.response.data.errors;
                    }else{
                        this.$store.commit("registerFailed", {error});
                    }
                });
            },
        },
        computed:{
            regError(){
                return this.$store.getters.regError
            }
        }
    }
</script>

<style scoped>
    .error{
        text-align: center;
        color: red;
    }
</style>