<template>
    <div>
        <div class="btn-wrapper">
            <router-link to="/lessons/new" class="btn btn-primary btn-sm">New</router-link>
        </div>
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Sub Title</th>
                <th>Course</th>
                <th>Actions</th>
            </thead>
            <tbody>
            <template v-if="!lessons || lessons.length == 0">
                <tr>
                    <td colspan="4" class="text-center">No Lesson Available</td>
                </tr>
            </template>
            <template v-else>
                <tr v-for="lesson in lessons" :key="lesson.id">
                    <td>{{ lesson.title }}</td>
                    <td>{{ lesson.sub_title }}</td>
                    <td>
                        <router-link :to="`/courses/${lesson.course.id}`"> {{ lesson.course.title }} </router-link>

                    </td>
                    <td>
                        <router-link :to="`/lessons/${lesson.id}`">View</router-link>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'list',
        mounted() {
            if (this.lessons && this.lessons.length) {
                return;
            }

            this.$store.dispatch('getLessons');
        },
        computed: {
            lessons() {
                if (!this.$store.getters.lessons){
                    this.$store.dispatch('getLessons');
                }
                return this.$store.getters.lessons;
            }
        }
    }
</script>

<style scoped>
    .btn-wrapper {
        text-align: right;
        margin-bottom: 20px;
    }
</style>