<template>
    <div class="course-new">
        <form @submit.prevent="add">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <td>
                        <input type="text" class="form-control" v-model="form.title" placeholder="Lesson Title"/>
                        <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('title'))">{{ (errors.hasOwnProperty('title')) ? errors.title[0] :'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Sub Title</th>
                    <td>
                        <input type="text" class="form-control" v-model="form.sub_title" placeholder="Lesson Sub Title"/>
                        <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('sub_title'))">{{ (errors.hasOwnProperty('sub_title')) ? errors.sub_title[0] :'' }}</span>
                    </td>
                </tr>

                <tr>
                    <th>Course</th>
                    <td>
                        <select v-model="form.course" class="form-control">
                            <option :value="course.id" v-for="course in courses" :key="course.id">{{ course.title }}</option>
                        </select>
                        <span class="badge badge-pill badge-danger" v-if="(errors.hasOwnProperty('course'))">{{ (errors.hasOwnProperty('course')) ? errors.course[0] :'' }}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <router-link to="/lessons" class="btn btn-info">Cancel</router-link>
                    </td>
                    <td class="text-right">
                        <input type="submit" value="Create" class="btn btn-success">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'new',
        data() {
            return {
                form: {
                    title: '',
                    sub_title: '',
                    course: '',
                },
                errors: {}
            };
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
            courses() {
                return this.$store.getters.courses;
            }
        },
        methods: {
            add() {
                this.errors = {};
                axios.post('/lessons', this.$data.form)
                    .then((response) => {
                        this.$router.push('/lessons');
                    }).catch(error => {
                        if(error.response.status === 422){
                            this.errors = error.response.data.errors;
                        }
                    });

                this.$store.dispatch('getLessons');
            },
        },
        mounted() {
            if (this.courses && this.courses.length) {
                return;
            }

            this.$store.dispatch('getCourses');
        },
    }
</script>

<style>
    .errors {
        background: lightcoral;
        border-radius:5px;
        padding: 21px 0 2px 0;
    }
</style>