<template>
    <div class="lesson-view" v-if="lesson">
        <div class="user-info">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td>{{ lesson.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ lesson.title }}</td>
                </tr>
                <tr>
                    <th>Sub Title</th>
                    <td>{{ lesson.sub_title }}</td>
                </tr>
                <tr>
                    <th>Course</th>
                    <td>{{ lesson.course ? lesson.course.title : '' }}</td>
                </tr>

            </table>
            <router-link to="/lessons">Back to all lessons</router-link>
            <a @click="$router.go(-1)" class="btn btn-xs btn-info right">Go Back</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'lesson-view',
        created() {
            axios.get(`/lessons/${this.$route.params.id}`)
                .then((response) => {
                    this.lesson = response.data.lesson
                });
        },
        data() {
            return {
                lesson: null
            };
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
        }
    }
</script>

<style scoped>
    .lesson-view {
        display: flex;
        align-items: center;
    }
    .user-img {
        flex: 1;
    }
    .user-img img {
        max-width: 160px;
    }
    .user-info {
        flex: 3;
        overflow-x: scroll;
    }
</style>